//styles for the connected awards

$primary-color-1 :rgba(62, 5, 99, 1);
$primary-color-2 :rgba(238, 232, 242, 1);
$primary-color-3 :rgba(12, 1, 20, 1);
$primary-color-4 : rgba(255, 255, 255, 1);
$secondary-color: rgba(251, 188, 5, 1);
$footer-text-header:rgba(250, 151, 6, 1);

html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 60px;
    box-shadow: 0px 1px 0px 0px rgba(219, 219, 219, 0.5);
    
   .brand_logo {
      z-index: 5;
   }

    img {
        width: 70px;
        height: 70px;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            padding: 0 20px;
            
            a {
                text-decoration: none;
                color:$primary-color-3;
                font-weight: 700;
                font-size: 1.1rem;
            }

            .log-in, .sign-up {
                border-radius: 5px;
                padding:10px 18px;
            }

            .log-in {
                margin-left: 20px;
                color: $primary-color-1;
                background-color: $primary-color-2;
            }

            .sign-up {
                color: $primary-color-4;
                background-color: $primary-color-1;
            }
        }        
    }

    .mobile-menu {
        display:none;
        transition: 1s;
    }

    .mobile-menu.active {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        background:$primary-color-4;
        transform: translateY(250px) translateX(-48px);
        z-index: 2;
        ul {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            span {
                position: relative;
                box-shadow: none;
                font-size: 3rem;
            }
            li {
                margin: 15px 0;
                padding: 8px 0;
                box-shadow: 0px 1px 0px 0px rgba(219, 219, 219, 0.5);
                width: 100%;
            }
        }
    }

    .menu {
        position: absolute;
    }
}

@media screen and (max-width:768px) {
    
    header {
        padding:0 30px ;
    }

    .menu {
        position: absolute;
        right: 30px;
        top: 25px;
        width: 30px;
        height: 50px;
        z-index: 5;
        transform: scale(1);
        .bar  {
            background: $primary-color-1;
            width: 100%;
            height: 4px;
            border-radius: 8px;
            margin: 3px 0;
        }
        transition: 1s;
    }

    .menu.active{ 
        .bar:nth-of-type(1) {
            transform: rotateZ(45deg);            
        }

        .bar:nth-of-type(2) {
            transform: translateY(-5px) rotateZ(-45deg);            
        }

        .bar:nth-of-type(3) {
            transform: scale(0);            
        }
    }

    nav {
        display: none;
    }

}