//styles for the connected awards

$primary-color-1 :rgba(62, 5, 99, 1);
$primary-color-2 :rgba(238, 232, 242, 1);
$primary-color-3 :rgba(12, 1, 20, 1);
$primary-color-4 : rgba(255, 255, 255, 1);
$secondary-color: rgba(251, 188, 5, 1);
$footer-text-header:rgba(250, 151, 6, 1);

 .button-basic{
    border-radius: 5px;
    padding:10px 18px;
    color: $primary-color-4;
    background-color: $primary-color-1;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.short_underline {
    width: 125px;
    height:6px;
    border-radius: 8px;
    background: rgba(250, 151, 6, 1);
    transform: translateY(-20px);
}

html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    height: 12vh;
    align-items:center;
    padding: 0 60px;
    box-shadow: 0px 1px 0px 0px rgba(219, 219, 219, 0.5);
    
   .brand_logo {
      z-index: 5;
   }

    img {
        width: 70px;
        height: 70px;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            padding: 0 20px;
            
            a {
                text-decoration: none;
                color:$primary-color-3;
                font-weight: 700;
                font-size: 1.1rem;
            }

            .log-in, .sign-up {
                border-radius: 5px;
                padding:10px 18px;
            }

            .log-in {
                margin-left: 20px;
                color: $primary-color-1;
                background-color: $primary-color-2;
            }

            .sign-up {
                @extend .button-basic
            }
        }        
    }

    .mobile-menu {
        display:none;
        transition: 5s;
    }

    .mobile-menu.active {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        background:$primary-color-4;
        transform: translateY(250px) translateX(-48px);
        z-index: 2;
        ul {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            span {
                position: relative;
                box-shadow: none;
                font-size: 3rem;
            }
            li {
                margin: 15px 0;
                padding: 8px 0;
                box-shadow: 0px 1px 0px 0px rgba(219, 219, 219, 0.5);
                width: 100%;
            }
        }
    }

    .menu {
        position: absolute;
        cursor: pointer;
        transition: 2s;
    }
}

@media screen and (max-width:768px) {
    
    header {
        padding:0 30px ;
    }

    .menu {
        position: absolute;
        right: 30px;
        top: 25px;
        width: 30px;
        height: 50px;
        z-index: 5;
        transform: scale(1);
        .bar  {
            background: $primary-color-1;
            width: 100%;
            height: 4px;
            border-radius: 8px;
            margin: 3px 0;
        }
        transition: 1s;
    }

    .menu.active{ 
        .bar:nth-of-type(1) {
            transform: rotateZ(45deg);            
        }

        .bar:nth-of-type(2) {
            transform: translateY(-5px) rotateZ(-45deg);            
        }

        .bar:nth-of-type(3) {
            transform: scale(0);            
        }
    }

    nav {
        display: none;
    }

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 76vh;

    h1 {
        font-size: 5rem;
        font-weight: 900;
        text-align: center;
    }
    
    .search_menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    input {
        width: 40%;
        padding: 6px 18px;
    }
    button {
        margin-left: 20px;
        @extend .button-basic;
    }

    p {
        display:flex;
        align-items: center;
        justify-content: center;
        padding-top: 12px;
        font-size:1.5rem;
        
        img {
            padding-left: 8px;
        }
    }
}

.our-target {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    background:rgba(31, 2, 49, 1) url('../images/Group\ 12.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    place-items: center;
    max-height: fit-content;
    img {
        width: 150px;
        height: 150px;
    }

    div {
        border: 2px solid rgba(238, 232, 242, .5);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width:200px;
        padding: 20px;
    }
    p {
        text-align: center;
        color: $primary-color-4;
        font-size: 1.5rem;
        padding: 15px;
    }
    p.title {
        font-size: 4rem;
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        padding: 10px 0;
    }
    
    .awareness {
        grid-column: 1 / 2 ;
        grid-row: 2 / 3;
    }

    .competition {
        grid-column: 2 / 3 ;
        grid-row: 2 / 3;
    }

    .entertainment {
        grid-column: 3 / 4 ;
        grid-row: 2 / 3;
    }

    .recognition {
        grid-column: 4 / 5 ;
        grid-row: 2 / 3;
    }
 }

 @media screen and  (max-width:768px) {
    .our-target {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding-bottom: 100px;

        div {
            height: 180px;
            width:180px;
            padding: 20px;
        }

        img {
            width: 120px;
            height: 120px;
        }

        p.title {
            font-size: 3rem;
            grid-column: 1/3;
            grid-row: 1 / 2;
            padding:0;
        }
        
        .awareness {
            grid-row: 2 / 3 ;
            grid-column: 1 / 2;
        }
    
        .competition {
            grid-row: 2 / 3 ;
            grid-column: 2 / 3;
        }
    
        .entertainment {
            grid-row: 3 / 4 ;
            grid-column: 1 / 2;
        }
    
        .recognition {
            grid-row: 3 / 4 ;
            grid-column: 2 / 3;
        }
     }
}     

.connected-awards {
    display:flex;
    padding: 4vw;
    width:90vw;
    background-image: url('../images/Group\ 21.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    .caw-image {
        width:43vw;

        img {
            width: 100%;
        }
    }
    .about-connected-awards {
        width:43vw;
        font-size: 1.5rem;
        padding-left: 40px;

        h1.title {
            font-size: 3rem;
        }

        P{
            line-height: 2.3rem;
        }
        div.underline {
            @extend .short_underline;
        }

        button {
            @extend .button-basic;
            font-size: 1.6rem;
        }
    }

}
@media screen and (max-width:768px) {
    .connected-awards {
        display:flex;
        padding: 0;
        width:100%;
        flex-direction: column;
        .caw-image {
            width:100vw;
            img {
                width: 100%;
            }
        }
        .about-connected-awards {
            width:100%;
            padding:0 15px;
            font-size: 1.2rem;
            margin-bottom: 150px;

            h1.title {
                font-size: 2rem;
            }
    
            div.underline {
                transform: translateY(-15px);
                width:70px;
            }

            button {
                font-size: 1.2rem;
                padding: 6px 15px;
            }
        }    
    
}
}

.celebrated-techies {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width:90vw;
    padding:4vw;
    background-image: url('../images/Group\ 21\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: bottom left;
    .cte-images {
        width:45vw;
        display:grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
  
        img:nth-of-type(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        img:nth-of-type(4){
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }   
    }
    .about-celebrated-techies{
        font-size: 1.2rem;

        h1.title {
            font-size: 3rem;
        }
        
        div.underline {
            @extend .short_underline;
        }

        p {
            font-size: 1.5rem;
            line-height: 2.3rem;
        }

        button {
            @extend .button-basic;
            font-size: 1.6rem;
        }
    }
}

@media screen and (max-width:768px) {
    .celebrated-techies {
        display:flex;
        flex-direction: column;
        padding:0;
        .cte-images {
            width:100vw;
            display:grid;
            grid-gap: 20px;

            img {
                width: 100%;
            }
        }
        .about-celebrated-techies{
            margin-bottom: 180px;
            margin-left: 20px;
            h1.title {
                font-size: 2rem;
            }
    
            div.underline {
                transform: translateY(-15px);
                width:70px;
            }

            button {
                font-size: 1.2rem;
                padding: 6px 15px;            
            }
    }
  }   
}

.talents {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0;
    .talent {
        height: 300px;
        width:270px;
        box-shadow: 1px 1px 8px 0px rgba(219, 219, 219, 0.5);
        border-radius: 5px;
        margin: 20px 50px;
        text-align: center;
        font-size: 1.6rem;
        padding: 20px;

        .image {
            height:30%;
        }
    }
}

